*.exe
*.dll
*.iso*
*.wim*

.~lock.*.*#
~$*.xlsx

Far/
!Far/Far.exe.ini

UltraVNC/
!UltraVNC/UltraVNC.ini

.pe_mount_point/
.pe_work_dir/

BootStrap.csv
!BootStrap.csv.example

New-NetConfig_AD.csv
!New-NetConfig_AD.csv.example