*.exe
*.dll
*.iso
*.wim*

.~lock.*.*#
~$*.xlsx

!Far/Far.exe.ini
Far/
Far/*/*
Far/Addons/*
Far/Documentation/*
Far/Encyclopedia/*
Far/Plugins/*
Far/PluginSDK/*
Far/Profile/*

UltraVNC/*
!UltraVNC/UltraVNC.ini

.pe_mount_point/
.pe_work_dir/