NetConfig-Convert.ps1   text working-tree-encoding=UTF-16LE-BOM eol=CRLF
NetConfig-New.ps1       text working-tree-encoding=UTF-16LE-BOM eol=CRLF
Wenix.psd1              text working-tree-encoding=UTF-16LE-BOM eol=CRLF
