"gw","netpath","user","password"
"192.168.2.1","\\192.168.2.5\c$","administrator","qwertY&7"
"192.168.3.1","\\file_srv_12\ms","share_user001","asdfgh*8"

"192.168.4.1","\\192.168.4.5\d$","администратор","йцукеН?7"
"192.168.4.1","\\192.168.4.5\d$","администратор","0LnRhtGD0LrQtdCdPzc="
"192.168.4.1","\\192.168.4.5\d$","0LDQtNC80LjQvdC40YHRgtGA0LDRgtC+0YA=","0LnRhtGD0LrQtdCdPzc="
